<%= render "shared/header" %>
<div class="wrapper">

<!-- 左メニュー -->
  <div class="left_side">
    <div class="left_header-message">
      <div class="left_header-title"><%= "#{current_user.first_name} さんの" %><br>プロジェクト一覧
      </div>
        <div class="create-skill">
          <%= link_to "プロジェクト登録", new_project_path %>
        </div>
    </div>

    <div class="skills">
      <% current_user.projects.each do |project|%>
        <div class="skill">
          <div class="skill-name">
            <%= link_to project.project_name, project_messages_path(project) %>
          </div>
          <div class="skill-status">
            <%#<%= project.project_status.name %>50％
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- 右側部分（ヘッダー） -->
  <div class="right_side">
    <div class="main_header-message">
      <div class="main_left-header">
        <div class="header-title">
          <%= @project.project_name %>
        </div>
      </div>
      <div class="main_right-header">
        <div class="main_right-text">
          概要  ：<%= @project.description %><br>
          <%# <%= @skill.stars %>進捗率：50％
        </div>
        <div class="header-button">
          <%= link_to "編集", edit_project_path(@project) %>
        </div>
        <div class="header-button">
          <%= link_to "日程調整", "#" %>
        </div>
      </div>
    </div>

<!-- 右側部分（メッセージ） -->
    <div class="tweets">
      <% @messages.each do |message|%>
      <% if current_user == message.user%>
      <div class="right-tweet">
      <% elsif %>
      <div class="tweet">
      <% end %>
        <div class="upper-tweet">
          <div class="tweet-user">
            <!-- 投稿したユーザー名情報を出力する -->
            <%= message.user.full_name %>
          </div>
          <div class="tweet-date">
            <!-- 投稿した時刻を出力する -->
            <%= l message.created_at %>
          </div>
          <% if current_user == message.user%>
          <div class="tweet-date">
            <!-- 削除ボタン -->
            <%= link_to "削除", project_message_path(@project, message), data: { turbo_method: :delete } %>
          </div>
          <% end %>
        </div>
        <div class="lower-tweet">
          <div class="tweet-text">
            <!-- 投稿したメッセージ内容を記述する -->
            <%= message.content %>
          </div>
          <%#<%= image_tag tweet.image.variant(resize: '400x400'), class: 'tweet-image' if tweet.image.attached? %>
        </div>
      </div>
      <% end %>
    </div>

<!-- 右側部分（フォーム） -->
    <%= form_with model: [@project, @message], class: 'form', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">添付</span>
        <%# <%= f.file_field :image, class: 'hidden' %>
      </label>
    <%= f.submit '送信', class: 'form-submit' %>
    </div>
    <% end %>
  </div>
</div>