<%= render "shared/header" %>
<div class="skill_header">
  <%= "#{current_user.last_name} #{current_user.first_name} さん ユーザ情報" %>
</div>

<div class="skill_new">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-label"><%= f.label :Emailアドレス %></div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-box' %>
    

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-label">
      <%= f.label :"新しいパスワード (変更しない場合は空欄)" %>
      <% if @minimum_password_length %><em><%= @minimum_password_length %> 文字以上</em>
      <% end %></div>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-box' %>

    <div class="form-label">
      <%= f.label :"新しいパスワード(確認)(変更しない場合は空欄)" %></div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-box' %>
    

    <div class="form-label">
      <%= f.label :"変更前のパスワード" %> </div>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-box' %>
    

    <div class="actions">
      <%= f.submit "変更する", class: 'form-submit' %>
    </div>
  <% end %>

  <br><%= link_to "Skill-Hubを退会する方はこちら", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

</div>
