<%= render "shared/header" %>
<div class="wrapper">

<!-- 左メニュー -->
  <div class="left_side">
    <div class="left_header">
      <div class="left_header-title"><%= current_user.first_name %> さんの<br>スキル一覧
      </div>
      <div class="create-skill">
        <%= link_to "スキル登録", new_skill_path %>
      </div>
    </div>

    <div class="skills">
      <% current_user.skills.each do |skill|%>
        <div class="skill">
          <div class="skill-name">
            <%= link_to skill.skill_name, skill_tweets_path(skill.id) %>
          </div>
          <div class="skill-status">
            <%= skill.skill_status.name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- 右側部分（ヘッダー） -->
  <div class="right_side">
    <div class="main_header">
    </div>

<!-- 右側部分（メッセージ） -->
    <div class="tweets">
     ← 左メニューからスキルを選択してください。
    </div>

  </div>
</div>